/* Implementation */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
html {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  max-width: 1440px;
  min-width: 375px;
}

body {
  background-color: var(--white);
  text-align: center;
  align-items: center;
}
footer {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

/* Layers */
#back-layer {
  z-index: 1;
  width: 680px;
  height: 650px;
  translate: (50%, 50%);
  background-color: var(--light-gray);
  margin: 10% auto;
  border-radius: 2%;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.9);
}

#front-layer {
  z-index: 2;
  background-color: var(--grayish-blue);
  border-color: var(--dark-blue);
  border-radius: 50%;
  border: 10px solid;
}

/* Colors */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

/* Typography */
/* Body Copy */
p {
  font-size: 15px;
}

/* Font */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--grayish-blue);
}
